body
{
  background-color: black;
  font-family: verdana;
  color: white;

}
h1
{
  font-family: arial;
}
img
{
  background-color: black;
  width: auto;
  border-color: white;
}
p
 {background-color: red; margin: 20px; padding: 60px;}
