body {
  width: 2000px;
  height:500px;
  background-color: #5b7989;

  color: white;
  text-align: left;
  border-radius: 10px;
}
h1
{
  font-family: verdana;
}
img
{
  background-color: black;
  width: auto;
  border-color: white;
}
p
 {background-color: red; margin: 20px; padding: 60px;}
.Comenzando{
  text-shadow: 2px 2px 3px #02010a;
}
